/* MAIN CSS */ 

body {
    margin: 25px;
    background-image: url("background.jpg");
    margin-bottom: 60px;
    color: white;
    font-size: 18px;
}

h1, div { 
    color: white;

}

h1{
    font-size: 60px; 
}

.container {
    border: solid 5px goldenrod;

}

#filmreel {
    width: 100%;
}

/* OMDB CSS */ 

.omdb {
    color: white;
}
.moviePoster {
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;    
}

#movieName {
    text-align: center;
}

.movieName {
    text-align: center;
}

.moviePlot {
    color: white;
    font-style: italic;
}

.movieRating {
    color: white
}

.gif {
    border: 1px solid black ; 
}



/* GIPHY CSS */